*{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    
}

.header{
    position: sticky;
    z-index: 3;
    top: 0;
    background: #131311;
    padding: 70px 0;
    display: flex;
	justify-content: space-between;
}

.logo
{
    position: absolute;
    width: 45px;
    height: 45px;
    margin-left: 2em;
    margin-top: -2.7em ;
}

.header h1{
    position: absolute;
    color: aliceblue;
    margin-left: 150px;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 45px;
    margin-top: -35px;
}

.nev {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    width: 35%;
    display: table;
    font-size: 25px;
    margin-left: 27em;
    margin-top: -13px;
    transition: all;
}

.nev ul {
    display: table-row;
}

.nev li {
    display: table-cell;
    background:none;
}



.nev li a{
	position: relative;
	color: white; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}
a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: white; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

a:hover:after,
a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.progress-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 5px;
    width: 0%;
    background: aqua;
}

.hero {
	
    display: flex;
    height: 815px;
	background-image: url("image1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    
}

.hero-text{
    text-align: center;
    color: white;
    font-family:'Mukta', sans-serif;
    margin-top: 1.15em;
    margin-left: 700px;
    font-size: 120px;
    vertical-align: middle;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}